.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn i {
  margin-right: 6px;
}
a:focus,
.btn:focus {
  outline: none;
}
nav {
  position: fixed;
  background-color: rgba(189, 195, 199, 0.5);
  padding: 5px;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul li {
  padding: 10px;
}
nav ul li a,
nav ul li a:hover,
nav ul li a:focus {
  text-decoration: none;
  font-size: 1.5em;
  color: #2c3e50;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
nav ul li a span,
nav ul li a:hover span,
nav ul li a:focus span {
  overflow: hidden;
  white-space: nowrap;
}
nav ul li:hover,
nav ul li.selected {
  background-color: #2c3e50;
}
nav ul li:hover a,
nav ul li.selected a {
  color: #ecf0f1;
}
.main-nav {
  left: 0px;
  top: 75px;
  padding-left: 0px;
}
.main-nav li {
  padding-left: 15px;
}
.main-nav li span {
  margin-left: 7px;
}
.frame {
  margin: 0;
  padding: 80px;
  padding-left: 18%;
  padding-right: 18%;
  color: #ecf0f1;
  background-color: #ecf0f1;
}
.frame h1 {
  font-size: 7em;
  margin-bottom: 0.8em;
}
.frame .main-icon {
  font-size: 13em;
  margin-left: 50px;
  float: right;
}
.frame p {
  font-size: 1.5em;
  line-height: 2em;
}
.frame h2:not(:first-of-type) {
  margin-top: 2em;
}
#frame00 {
  background-color: #16a085;
}
#frame00 h1 {
  font-size: 10em;
  margin-top: 0.5em;
}
#frame00 .main-icon {
  font-size: 20em;
  margin-right: 50px;
  float: left;
  margin-left: 0px;
}
#frame05 {
  color: #16a085;
}
#frame10 {
  background-color: #8e44ad;
}
#frame10 .btn {
  background-color: #9b59b6;
}
#frame15 {
  color: #8e44ad;
}
#frame20 {
  background-color: #c0392b;
}
#frame25 {
  color: #c0392b;
}
#frame30 {
  background-color: #e67e22;
}
#frame35 {
  color: #e67e22;
}
.timeline .toggle label,
.timeline .toggle.toggle-off label {
  background: none;
  color: #ecf0f1;
  margin-right: -10px;
  margin-left: -10px;
}
.timeline .toggle label {
  background-color: #8e44ad;
}
.timeline nav {
  right: 0px;
  top: 75px;
  padding-left: 10px;
  padding-right: 30px;
}
.timeline nav li {
  padding-right: 15px;
}
.timeline nav li span {
  margin-right: 7px;
}
.timeline h2 {
  float: left;
  width: 10%;
  color: #ecf0f1;
  background-color: #8e44ad;
  text-align: center;
  clear: both;
}
.timeline h2:not(:first-of-type) {
  margin-top: 30px;
}
.timeline h3 {
  margin-left: 20%;
}
.timeline h3:not(:first-of-type) {
  margin-top: 30px;
}
.timeline h3:hover {
  cursor: pointer;
}
.timeline > p {
  margin-left: 20%;
}
footer.frame {
  background-color: #2c3e50;
  color: #95a5a6;
  text-align: center;
}
