.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn i {
  margin-right: 6px;
}
a:focus,
.btn:focus {
  outline: none;
}
.toggle .toggle-radio,
.toggle.toggle-off .toggle-radio {
  background: none;
  color: #ecf0f1;
  margin-right: -10px;
  margin-left: -10px;
}
.toggle .toggle-radio i,
.toggle.toggle-off .toggle-radio i {
  margin-left: 5px;
}
nav {
  position: fixed;
  background-color: rgba(189, 195, 199, 0.5);
  padding: 5px;
}
.main-nav {
  left: 0px;
  top: 75px;
  padding-left: 0px;
}
.main-nav ul {
  list-style-type: none;
  margin: 0;
}
.main-nav ul li {
  padding: 10px;
  padding-left: 15px;
}
.main-nav ul li a,
.main-nav ul li a:hover,
.main-nav ul li a:focus {
  text-decoration: none;
  font-size: 1.5em;
  color: #2c3e50;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.main-nav ul li a span,
.main-nav ul li a:hover span,
.main-nav ul li a:focus span {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 7px;
}
.main-nav ul li:hover,
.main-nav ul li.selected {
  background-color: #2c3e50;
}
.main-nav ul li:hover a,
.main-nav ul li.selected a {
  color: #ecf0f1;
}
.frame {
  margin: 0;
  padding: 80px;
  padding-left: 18%;
  padding-right: 18%;
  color: #ecf0f1;
  background-color: #ecf0f1;
}
.frame h1 {
  font-size: 7em;
  margin-bottom: 0.8em;
}
.frame .main-icon {
  font-size: 13em;
  margin-left: 50px;
  float: right;
}
.frame p {
  font-size: 1.5em;
  line-height: 2em;
}
.frame h2:not(:first-of-type) {
  margin-top: 2em;
}
#frame00 {
  background-color: #27ae60;
}
#frame00 .btn {
  background-color: #2ecc71;
}
#frame00 h1 {
  font-size: 10em;
  margin-top: 0.5em;
}
#frame00 .main-icon {
  font-size: 20em;
  margin-right: 50px;
  float: left;
  margin-left: 0px;
}
#frame00 p {
  font-size: 2.5em;
  clear: both;
}
#frame05 {
  color: #27ae60;
}
#frame10 {
  background-color: #16a085;
}
#frame10 .btn {
  background-color: #1abc9c;
}
#frame15 {
  color: #16a085;
}
#frame20 {
  background-color: #8e44ad;
}
#frame20 .btn {
  background-color: #9b59b6;
}
#frame25 {
  color: #8e44ad;
  padding-top: 30px;
  padding-bottom: 160px;
}
#frame30 {
  background-color: #c0392b;
}
#frame35 {
  color: #c0392b;
}
#frame40 {
  background-color: #e67e22;
}
#frame45 {
  color: #e67e22;
}
.timeline nav {
  right: 0px;
  top: 75px;
  padding-left: 10px;
  padding-right: 30px;
}
.timeline nav .toggle label {
  background-color: #16a085;
}
.timeline h2 {
  float: left;
  width: 10%;
  color: #ecf0f1;
  background-color: #16a085;
  text-align: center;
  clear: both;
}
.timeline h2:not(:first-of-type) {
  margin-top: 30px;
}
.timeline h3 {
  margin-left: 20%;
}
.timeline h3:not(:first-of-type) {
  margin-top: 30px;
}
.timeline h3:hover {
  cursor: pointer;
}
.timeline > p {
  margin-left: 20%;
}
.actors nav {
  right: 0px;
  padding-left: 10px;
  padding-right: 30px;
}
.actors nav .toggle label {
  background-color: #8e44ad;
}
.actors nav#actorsViewChoice {
  top: 75px;
}
.actors nav#actorsViewChoice .toggle.toggle-off label {
  background-color: #8e44ad;
}
.actors nav#actorsSelectAttributes {
  top: 200px;
}
.actors nav#actorsSelectAttributes .toggle {
  margin-left: 0;
}
.actors h2 {
  background-color: #ecf0f1;
  z-index: 30;
  width: 100%;
  margin-top: 0;
}
.actors h2.pin {
  position: fixed;
  top: 0px;
}
.actors #actor-details {
  position: fixed;
  bottom: 0px;
  width: 50%;
  margin: auto;
  z-index: 50;
  background-color: rgba(141, 67, 173, 0.9);
  height: 25%;
}
.actors #actor-details h3 {
  position: static;
  color: #ecf0f1;
}
.actors #actor-details img {
  float: left;
  height: 100%;
}
.actors #actor-details p {
  color: #ecf0f1;
  line-height: 1.2em;
  font-size: 1.2em;
}
.actors .actor {
  background-color: #8e44ad;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.actors .actor h3 {
  position: relative;
  bottom: 40px;
  padding-left: 10px;
  width: 100%;
  background-color: #ecf0f1;
  background-color: rgba(237, 241, 242, 0.7);
}
.actors .actor .label {
  background-color: #ecf0f1;
  color: #8e44ad;
}
footer.frame {
  background-color: #2c3e50;
  color: #95a5a6;
  text-align: center;
}
