@import "variables.less";
@import "mixins.less";

// ===================================================
// 					PAGE WIDE CLASSES
// ===================================================

@cloud: #ecf0f1;

@color00: #27ae60;
@color10: #16a085;
@color20: #8e44ad;
@color30: #c0392b;
@color40: #e67e22;

.btn i {
	margin-right: 6px;
}

a:focus, .btn:focus {
	outline: none;
}

.toggle .toggle-radio, .toggle.toggle-off .toggle-radio {
		background: none;
		color: @cloud;
		margin-right: -10px;
		margin-left: -10px;

		i {
			margin-left: 5px;
		}
}


// ===================================================
// 						    NAV
// ===================================================

@nav-primary-color: #2c3e50;
@nav-alt-color: @cloud;

nav {
	position: fixed;
	#translucent > .background(#bdc3c7,0.5); 
	padding: 5px;

	ul {
		list-style-type: none;
		margin: 0;

		li {
			padding: 10px;

			a, a:hover, a:focus {
				text-decoration: none;
				font-size: 1.5em;
				color: @nav-primary-color;
				.transition(none);

				span {
					overflow: hidden;
					white-space: nowrap;
				}
			}

			&:hover, &.selected {
				background-color: @nav-primary-color;
				a {
					color: @nav-alt-color;
				}
			}
		}
	}
}


.main-nav {
	left: 0px;
	top: 75px;
	padding-left: 0px;

	li {
		padding-left: 15px;
		span {
			margin-left: 7px;
		}
	}
}


// ===================================================
// 						  FRAMES
// ===================================================

.frame {
	margin: 0;
	padding: 80px;
	padding-left: 18%;
	padding-right: 18%;
	color: @cloud;
	background-color: @cloud;

	h1 {
		font-size: 7em;
		margin-bottom: 0.8em;
	}

	.main-icon {
		font-size: 13em;
		margin-left: 50px;
		float: right;
	}

	p {
		font-size: 1.5em;
		line-height: 2em;
	}

	h2:not(:first-of-type) {
		margin-top: 2em;
	}
}

#frame00 {
	background-color: @color00;

	.btn {
		background-color: #2ecc71;
	}

	h1 {
		font-size: 10em;
		margin-top: 0.5em;
	}

	.main-icon {
		font-size: 20em;
		margin-right: 50px;
		float: left;
		margin-left: 0px;
	}

	p {
		font-size: 2.5em;
		clear: both;
	}
}

#frame05 {
	color: @color00;
}

#frame10 {
	background-color: @color10;

	.btn {
		background-color: #1abc9c;
	}
}

#frame15 {
	color: @color10;
}

#frame20 {
	background-color: @color20;

	.btn {
		background-color: #9b59b6;
	}
}

#frame25 {
	color: @color20;
}

#frame30 {
	background-color: @color30;
}

#frame35 {
	color: @color30;
}

#frame40 {
	background-color: @color40;
}

#frame45 {
	color: @color40;
}


// ===================================================
// 						  TIMELINE
// ===================================================

.timeline {
	nav {
		right: 0px;
		top: 75px;
		padding-left: 10px;
		padding-right: 30px;

		.toggle label {
			background-color: @color10;
		}
	}

	h2 {
		float: left;
		width: 10%;
		color: @cloud;
		background-color: @color10;
		text-align: center;
		clear: both;

		&:not(:first-of-type) {
			margin-top: 30px;
		}
	}

	h3 {
		margin-left: 20%;

		&:not(:first-of-type) {
			margin-top: 30px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&>p {
		margin-left: 20%;
	}
}



// ===================================================
// 						  ACTORS
// ===================================================

.actors {
	nav {
		right: 0px;
		top: 75px;
		padding-left: 10px;
		padding-right: 30px;

		.toggle label, .toggle.toggle-off label {
			background-color: @color20;
		}
	}

	h2 {
		background-color: @cloud;
		z-index: 30;
		width: 100%;
		margin-top: 0;

		&.pin {
			position: fixed;
			top: 0px;
		}
	}

	#actor-details {
		position: fixed;
		bottom: 0px;
		width: 50%;
		margin: auto;
		z-index: 50;
		#translucent > .background(@color20, 0.9); 
		height: 25%;

		h3 {
			position: static;
			color: @cloud;
		}

		img {
			float: left;
			height: 100%;
		}

		p {
			color: @cloud;
			line-height: 1.2em;
			font-size: 1.2em;
		}
	}

	.actor {
		background-color: @color20;
		width: 200px;
		height: 200px;
		margin-bottom: 10px;

		h3 {
			position: relative;
			bottom: 40px;
			padding-left: 10px;
			width: 100%;
			background-color: @cloud;
			#translucent > .background(@cloud,0.7); 
		}

		.label {
			background-color: @cloud;
			color: @color20;
		}
	}
}


// ===================================================
// 						  FOOTER
// ===================================================

footer.frame {
	background-color: #2c3e50;
	color: #95a5a6;
	text-align: center;
}